# For a complete list of core environment variables see
# https://docs.silverstripe.org/en/4/getting_started/environment_management/#core-environment-variables

# DB credentials
SS_DATABASE_CLASS="MySQLPDODatabase"
SS_DATABASE_SERVER="<DB_SERVER>"
SS_DATABASE_USERNAME="<DB_USERNAME>"
SS_DATABASE_PASSWORD="<DB_PASSWORD>"
SS_DATABASE_NAME="<DB_NAME>"

SS_ENVIRONMENT_TYPE="dev"
SS_ERROR_LOG="server/logs/error.log"

SS_DEFAULT_ADMIN_USERNAME="admin"
SS_DEFAULT_ADMIN_PASSWORD="secret"

SS_VENDOR_METHOD="copy"
