# ignore cache folder
/silverstripe-cache

# ignore all environment files
_ss_environment.php

# ignore composer vendor folder
/vendor
/framework
/cms
/siteconfig
themes/simple
/reports
/.phpintel
/.vscode

*.sql
