# ignore cache folder
/silverstripe-cache
/silverstripe-logs

# ignore all environment files
_ss_environment.php
_config.php
/.vscode
/.phpintel

# ignore composer vendor folder
/vendor
/framework
/cms
/siteconfig
/reports
.phpintel
/themes/simple
/node_modules
/assets

*.sql
*.bak
