# ignore cache folder
/silverstripe-cache
/silverstripe-logs

# ignore all environment files
_ss_environment.php

# ignore composer vendor folder
/vendor
/framework
/cms
/siteconfig
/reports
.phpintel
/themes/simple

*.sql
*.bak
/.phpintel
