    html,
    body {
        overflow-x: hidden;
        background-color: transparent;
    }
    
    .search {
        .input-group {}
        .input-text {
            width: 160px !important;
        }
    }
    
    .bold {
        font-weight: bold;
    }
    
    .d-flex {
        display: flex;
        &.left {
            justify-content: left;
            align-content: left;
            align-items: left;
        }
        &.center {
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        &.right {
            justify-content: right;
            align-content: right;
            align-items: right;
        }
        &.spaced {
            justify-content: space-between;
        }
        &.cushioned {
            justify-content: space-around;
        }
        &.v-top {
            align-content: top;
        }
        .flex-1 {
            flex: 1;
        }
        .flex-auto {
            flex: auto;
        }
    }
    
    .mb-3 {
        margin-bottom: 3rem;
    }
    
    .page-settings {
        position: fixed;
        top: 40%;
        left: 0;
    }
    
    .card-trans {
        border: none;
        background-color: transparent;
    }
    
    .container {
        max-width: 960px;
    }