/* .navbar-nav,
.navbar-nav li,
.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    /* position: relative;
    z-index: 10;
    float: left;


}
.navbar-nav li {
    float: left;
    line-height: 1.3em;
    vertical-align: middle;
    zoom: 1;
}
.navbar-nav li.hover,
.navbar-nav li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}
.dropdown-menu {
    visibility: hidden;
    position: absolute;
    top: 13px;
    left: 0;
    z-index: 598;
    width: 100%;
}
.dropdown-menu li {
    float: none;
}
.dropdown-menu ul {
    top: -18px;
    left: 97%;
    width: 200px;
}
.navbar-nav li:hover>ul {
    visibility: visible;
}
.dropdown-menu,
.dropdown-menu {
    margin-top: 8px;
    background: #1c305d;
}
.dropdown-menu li {
    font-weight: normal;
    padding: 0 0 6px 3px;
}
.dropdown-menu li a {
    width: 215px;
    font-weight: bold;
    padding: 0 !important;
}
*/