@charset "UTF-8";
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.dropdown {
	position: relative;
	z-index: 10;
	float: left;
}
ul.dropdown li {
	float: left;
	line-height: 1.3em;
	vertical-align: middle;
	zoom: 1;
}
ul.dropdown li.hover,
ul.dropdown li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}
ul.dropdown ul {
	visibility: hidden;
	position: absolute;
	top: 13px;
	left: 0;
	z-index: 598;
	width: 100%;
}
ul.dropdown ul li {
	float: none;
}
ul.dropdown ul ul {
	top: -18px;
	left: 97%;
	width: 200px;
}
ul.dropdown li:hover > ul {
	visibility: visible;
}
ul.dropdown ul {
	width: 210px;
	margin-top: 8px;
	background: #1c305d;
}
ul.dropdown ul li {
	font-weight: normal;
	padding: 0 0 6px 3px;
}
ul.dropdown ul li a {
	width: 215px;
	font-weight: bold;
	padding: 0 !important;
}