	#Navigation {
	width: 952px;
	margin: 0 auto;
	background: transparent url(../images/menuBG.png) no-repeat center bottom;
	height: 73px;
	padding-top: 5px;
	color: white;
	text-shadow: 0 1px black;
	ul {
		/*float: right; */
		margin-right: 10px;
		margin-top: 18px;
		li {
			list-style: none;
			margin: 0 5px;
			float: left;
			line-height: 1em;
			display: block;
			font-size: 12px;
		}
		li a {
			float: left;
			text-decoration: none;
			display: block;
			height: 2.3em;
			padding: 0 0 0 10px;
			color: #fff;
		}
		li a span {
			text-align: left;
			float: left;
			padding-right: 10px;
			height: 35px;
		}
		li a:hover {
			color: #b2d45e;
			cursor: pointer;
		}
		li a:hover span {
			cursor: pointer;
		}
		li a.current,
		li a.section,
		li a.section:hover,
		li a.current:hover {
			color: #b2d45e;
		}
		li a.current span,
		li a.section span,
		li a.section:hover span,
		li a.current:hover span {
			color: #b2d45e;
		}
	}
	/* MENU2 */
	ul#Menu2 li {
		font-size: 0.9em;
		margin: 1px 0 5px 15px;
		list-style: none;
	}
	ul#Menu2 li a {
		display: block;
		width: 196px;
		font-size: 1.2em;
		height: 1.8em;
		line-height: 1.8em;
		color: #512235;
		font-weight: bold;
	}
	ul#Menu2 li em {
		padding-left: 8px;
		display: block;
	}
	ul#Menu2 li li em {
		padding-left: 0;
	}
	/* Level 1 
      	- We use 3 elements for the nav to get 3 background images applied.
            * span - topleft rounded corner
            * em - bottomleft rounded corner
            * a - arrow on the right
            <a><span><em></em></span></a>
      	*/
	ul#Menu2 li a:hover,
	ul#Menu2 li a.current,
	ul#Menu2 li a.current:hover {
		/*background: url(../images/bulletFlameL.png) no-repeat -5px center;*/
		color: #512235;
		/*#666;*/
		cursor: pointer;
		text-decoration: underline;
		font-weight: bold;
	}
	ul#Menu2 li a.current {
		font-weight: 700;
	}
	ul#Menu2 li a.section,
	ul#Menu2 li a.section:hover {
		/*background: #DCDCDC;*/
		font-weight: 700;
		width: 193px;
	}
	ul#Menu2 li a.levela:hover span,
	ul#Menu2 li a.current span,
	ul#Menu2 li a.section span,
	ul#Menu2 li a.section:hover span,
	ul#Menu2 li a.current:hover span {
		/*background: transparent url(../images/sidebarTopLeftHover.gif) no-repeat left top;*/
		display: block;
		width: 100%;
		height: 100%;
	}
	ul#Menu2 li a.levela:hover em,
	ul#Menu2 li a.current em,
	ul#Menu2 li a.section em,
	ul#Menu2 li a.section:hover em,
	ul#Menu2 li a.current:hover em {
		/*background: transparent url(../images/sidebarBottomLeftHover.gif) no-repeat left bottom;*/
		display: block;
		width: 100%;
		height: 100%;
	}
	ul#Menu2 li ul {
		height: 100%;
		position: relative;
		margin: -4px 0 0 0;
		width: 193px;
		padding: 4px 0 10px 0;
		/*background: #DCDCDC url(../images/sidebarSectionBottom.png) no-repeat bottom left;*/
	}
	ul#Menu2 li ul li {
		width: 160px;
		background: #DCDCDC;
		padding: 0;
		font-size: 0.8em;
		display: inline;
		margin: 0;
	}
	ul#Menu2 li ul li ul {
		background: #DCDCDC;
		margin-left: 0;
	}
	ul#Menu2 li li a.current,
	ul#Menu2 li li a.section,
	ul#Menu2 li li a.section:hover,
	ul#Menu2 li li a.current:hover {
		color: #555;
		font-weight: 700;
		background: #DCDCDC;
	}
	ul#Menu2 li li ul {
		margin: 0 0 0 10px;
		padding: 0;
		width: 175px;
	}
	ul#Menu2 li li ul .roundWhite {
		margin-bottom: -10px;
	}
	/* Sub Menu */
	ul#Menu2 li a.levelb {
		font-size: 1.7em;
		text-indent: 8px;
		width: 188px;
		background: transparent;
		margin-left: 10px;
	}
	ul#Menu2 li a.levelb:hover,
	ul#Menu2 li li a.current,
	ul#Menu2 li li a.current:hover,
	ul#Menu2 li li a.section,
	ul#Menu2 li li a.section:hover {
		/*background: #BCBCBC url(../images/sidebarSideArrow2.gif) no-repeat right center;*/
		text-decoration: none;
		display: block;
		color: #fff;
	}
	ul#Menu2 li a.levelb:hover span,
	ul#Menu2 li li a.current span,
	ul#Menu2 li li a.current:hover span,
	ul#Menu2 li li a.section span,
	ul#Menu2 li li a.section:hover span {
		/*background: transparent url(../images/sidebarTopLeftHover2.gif) no-repeat left top;*/
		display: block;
		width: 100%;
		height: 100%;
	}
	ul#Menu2 li a.levelb:hover em,
	ul#Menu2 li li a.current em,
	ul#Menu2 li li a.current:hover em,
	ul#Menu2 li li a.section em,
	ul#Menu2 li li a.section:hover em {
		/*background: transparent url(../images/sidebarBottomLeftHover2.gif) no-repeat left bottom;*/
		display: block;
		width: 100%;
		height: 100%;
	}