.sponsor {
	float: left;
	margin: 10px;
	text-align: center;
	position: relative;
}

.sponsor.homeFix > img {
	width: 195px;
}

.sponsor.First {
	margin: 10px 10px 10px 0;
}
.sponsor.Last {
	margin: 10px 0 10px 10px;
}

.sponsor.homeFix.First {margin: 7px 7px 7px 0;}
.sponsor.homeFix.Last {margin: 7px 0px 7px 7px;}


.sponsor .logo {
	height: 180px;
	width: 220px;
	background-color: white;
	color: gray;
}
.sponsor .noLogo {
	background: url(../images/noLogo.png) no-repeat -40px -25px;
	width: 220px;
	height: 157px;
	margin: 0 auto;
}
.sponsor .logo img {
	margin: 0 auto;
	display: block;
}
.sponsor .name {
	height: 40px;
	width: 100%;
	background-color: #1c305d;
	color: white;
	font: 12px/37px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-indent: 10px;
	text-align: left;
	text-decoration: none;
}
a div:hover.name {
	background-color: #1c305d;
	color: #b2d45e;
	text-decoration: none;
}
.sponsor .name .extLink {
	background: url(../images/icons/externalLink1.gif) no-repeat 5px 2px;
	width: 10px;
	height: 10px;
	padding-left: 20px;
}
.sponsor .regBox {
	height: 180px;
	width: 220px;
	background-color: #262626;
	font: italic 13px/37px Georgia, "Times New Roman", Times, serif;
	display: block;
}
.sponsor .noName {
	height: 40px;
	width: 100%;
	background-color: #262626;
	font: italic 13px/37px Georgia, "Times New Roman", Times, serif;
	text-indent: 10px;
	text-align: left;
	text-decoration: none;
	color: white;
}
.PlatinumSponsers {
	/*margin-top: 40px;*/
	width: 960px;
	position: relative;
	top: 40px;
}
.GoldSponsers {
	/*margin-top: 40px;*/
	width: 100%;
	position: relative;
	top: 50px;
}
.GoldSponsers.homeFix {
	top: 20px;
}

.SilverSponsers {
	/*margin-top: 40px;*/
	width: 960px;
	position: relative;
	top: 40px;
}
.PlatinumSponsers ul,
.GoldSponsers ul,
.SilverSponsers ul {
	margin: 0 0 40px;
	list-style-type: none;
}
.PlatinumSponsers li,
.GoldSponsers li,
.SilverSponsers li {
	margin: 10px;
	list-style-type: none;
	background-color: #fff;
	width: 220px;
	overflow: hidden;
}

.PlatinumSponsers li {
	width: 300px;
	background-color: white;
}

.PlatinumSponsor {
	float: left;
	margin: 10px;
	text-align: center;
}
.PlatinumSponsor.First {
	margin: 10px 10px 10px 0;
}
.PlatinumSponsor.Last {
	margin: 10px 0 10px 10px;
}
.PlatinumSponsor .logo {
	width: 300px;
}
.PlatinumSponsor .noLogo {
	width: 300px;
	height: 214px;
	background-position: 0 0;
}
.PlatinumSponsor .regBox {
	width: 100%;
}
.PlatinumSponsor .regBox p {
	width: 150px;
}
.PlatinumSponsor .name {
	font: 14px/37px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* Gold sponsor */
.GoldSponsers.homeFix li {
	width: 195px;
	margin: 7px;
}

.SilverSponsor {
	float: left;
	margin: 10px;
	text-align: center;
}
.SilverSponsers ul {
	list-style-type: none;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 40px;
	position: relative;
	left: -10px;
}
.SilverSponsor.First {
	margin: 5px 5px 5px 0;
}
.SilverSponsor.Last {
	margin: 5px 0 5px 5px;
}
.SilverSponsor .logo {
	width: 300px;
}
.SilverSponsor .regBox {
	height: auto;
	width: 220px;
	background-color: #262626;
	font: italic 13px/37px Georgia, "Times New Roman", Times, serif;
	display: block;
}
.SilverSponsor .silverName {
	height: 40px;
	background-color: #1c305d;
	color: white;
	font: 14px/40px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	float: left;
	text-indent: 10px;
	width: 220px;
}
.noLink {
	width: 10px;
	height: 10px;
	padding-left: 15px;
}
.moreInfo {
	color: white;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	cursor: pointer;
}
